/*
  Цвет остовного текста #212121
  Вторичный цвет текста #757575
  Цвет акцента #2196F3
  Вторичный цвет фона #F5F4FA, темно-синий #2F303A
*/

:root {
  --primary-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto; 
}

.list {
  list-style: none;
}

.section-title {
  color: var(--tittle-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}


/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  margin-right: 94px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.logotip {
  color: #000000;
}

.logotips {
  color: var(--primary-white-color);
}

/* Site-Navigation */

.nav-conteiner {
  display: flex;
}

.navigation {
  display: flex;
}

.site-nav {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.contact-list {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
}

.contact-list li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav li:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link-contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: #2f303a;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px; 
  padding-top: 200px;
}



/* Advantages */

.title-advantages {
  color: var(--tittle-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.advantages {
  display: flex;
  justify-content: space-between;
  margin: 94px 0;
}

.advantages li {
  width: 270px;
}

/* .advantages li:not(:last-child) {
  margin-right: 30px;
}  */

/* What are we doing */

.work-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 25px;
}


/* Employees */
.employees {
  background-color: #f5f4fa;
}

.employees-title {
  padding-top: 94px;
}

.employees-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}

.employees-list li {
  background-color: var(--primary-white-color);
  width: 270px;
}

.employees-list .employees-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
}

.employees-list .employees-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.employees-name {
  color: var(--tittle-text-color);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.employees-position {
  text-align: center;
  margin-bottom: 30px;
}


/* Footer */

.low {
  background-color: #2f303a;
  margin-top: 69px;
}

.low-container {
  display: flex;
  flex-direction: column;
}

.low-container .logo {
  padding-top: 60px;
  margin: 0;
  margin-bottom: 20px;
}

.low .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.low .link:hover,
.low .link:focus {
  color: var(--accent-color);
}

.addr {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  margin-bottom: 9px;
}

.low .list {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.link-mail {
  margin-bottom: 9px;
}

/* button */

.button {
  background-color: var(--primary-white-color);
  color: var(--tittle-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  display: block;

  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  margin-top: 30px;
  margin-bottom: 200px;
}

.button.secondary {
  background-color: #f5f4fa;
  color: var(--tittle-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}


/* ===========Portfolio=========== */

/* Picture */

.picture {
  text-decoration: none;
}

.picture-name {
  color: var(--tittle-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.picture-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
